<div class="row">
<div class="col-xs-12">
<img src="{{rec.imagePath}}" alt="" class="img-responsive">
</div>
</div>

<div class="row">
<div class="col-xs-12">
<h2>{{rec.name}}</h2>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<div appDropdown class="btn-group">
<button  type="button" class="btn btn-primary dropdown-toggle">
    Manage Recipe<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a style="cursor:pointer" (click)="onclickaddRecipetoShoppinglist()">Add Ingridient to Shopping List</a></li>
<li><a [routerLink]="['../edit']" [queryParams]={isAllowEdit:1} [queryParamsHandling]="'merge'">Edit Recipe</a></li>
<li><a >Delete Recipe</a></li>
</ul>
</div>
</div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{rec.description}}
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
       <ul class="list-group">
           <li class="list-group-item" *ngFor="let ingridient of rec.Ingridients">
               {{ingridient.name}} - {{ingridient.amount}}
           </li>
       </ul>    
    </div>
</div>

